<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/tailwindcss@^2.2/dist/tailwind.min.css" rel="stylesheet"> -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-slate-700 min-h-screen">

    <!-- Navbar -->
    <header class=" text-white p-4 shadow-md">
        <div class="container mx-auto flex justify-between items-center">
            <h1 class="text-xl font-bold ">PlaceTrack</h1>
            <nav class="space-x-4">
                <a href="/" class="hover:underline">Home</a>
                <a href="/about" class="hover:underline">About</a>
                <a href="/contact" class="hover:underline">Contact</a>
                <a href="/register" class="hover:underline">Register/Login</a>
            </nav>
        </div>
    </header>

    <!-- Main Content -->
    <main class="container mx-auto p-6 flex">
        <!-- Left Side Content -->
        <div class="w-1/2 p-6">
            <h2 class="text-4xl font-bold text-white mb-4">PlaceTrack</h2>
            <p class="text-white text-lg mb-8">Your one stop solution for placement drive tracking.</p>
        </div>
        
        <!-- Right Side Content -->
        <div class="w-1/2 flex flex-col justify-center ">
            <div class="bg-gray-500 p-6 rounded-lg shadow-md mb-4 sm:flex flex-col">
                <h3 class="text-2xl font-semibold text-gray-800">PlaceTrack is here ...</h3>
                <br>
                <img width="800px" src="../images/hm.png" alt="placement image"/>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer class="bg-cyan-600 text-white p-4 mt-20">
        <div class="container mx-auto text-center">
            <p>&copy; 2024 PlaceTrack. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
